:root{
  --bg-color: #f0f0f0;
  --text-color: #333;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --card-bg: linear-gradient(90deg,rgba(16, 73, 97, 1) 0%, rgba(28, 53, 166, 1) 50%, rgba(83, 191, 237, 1) 100%);;
  --border: #ddd;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card{
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 24px;
  box-shadow: var(--shadow);
  transition: transform 0.3s;
  text-align: left;
  margin-bottom: 24px;
  padding: 16px;
  
}

.todo-title{
  color: var(--bg-color);
  margin-bottom: 16px;
  
}

.todo-actions{
  display: flex;
  gap: 8px;
  margin-top: 16px;
}